body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, red, yellow) fixed; /* Apply the gradient to the body and set background-attachment to fixed */
  background-attachment: fixed;
  background-size: 100% 100%; /* Ensure the gradient covers the entire viewport */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.item {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  margin: 10px;
}

.trapezoid {
  width: 500px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 500px solid #00aaaa;
  color: #00ffaa;
  transform: scaleY(-1);
  position: absolute;
  top: 100px;
  left: 200px;
}

.square {
  color: ff0000;
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: -1000px;
}
